.updating{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    background-color: aqua;
    width: 250px;
    height: 22px;
    margin-top: 5px;
}

.updating:hover{
    cursor: pointer;
}

.submitter{
    background-color: palevioletred;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 2px;
    padding: 5px;
    font-weight: 600;
}

.submitter:hover{
    cursor: pointer;
}
