.whole-foot{
    border-top: 1px solid black;
    margin-top: 10px;
    background-color: cornflowerblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.pic-size{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
