.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.details{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 400px;
}

.sure{
    color: forestgreen;
    font-weight: 600;
}

.cancel{
    background-color: pink;
}

.head{
    font-weight: 600;
    padding: 9px;
    font-size: large;
}
.out{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    padding: 5px;
}

.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    justify-content: space-between;
    width: 800px;
}

.in-detail{
    display: flex;
    flex-direction: column;
    color: navy;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 6px;
}

.errors{
    color: red;
}
