.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.details{
    display: flex;
    flex-direction: column;
    border: 1px solid navy;
    border-radius: 8px;
    width: 500px;
}

.sure{
    color: forestgreen;
    font-weight: 600;
}

.head{
    font-weight: 600;
    padding: 9px;
    font-size: large;
}
.out{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 5px;
    margin: 6px;
}

.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    justify-content: space-between;
    width: 800px;
    padding: 12px;
}

.in-detail{
    display: flex;
    flex-direction: column;
    color: navy;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 6px;
}

.errors{
    color: red;
}

.submit-now{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    font-size: 15px;
    background-color: aqua;
    margin: 4px;
}

.submit-now:hover{
    cursor: pointer;
}
