.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.details{
    border: 1px solid black;
    width: 500px;
}

.sure{
    color: forestgreen;
    font-weight: 600;
}

.cancel{
    background-color: pink;
}
