.sub-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.886);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    border-radius: 8px;
    width: 400px;
    padding: 10px;
}

.sub-logo{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 10px;
    padding: 10px;
    background-color: pink;
    margin-top: 15px;
}
.sub-title{
    color: maroon;
    font-weight: 600;
    text-decoration: none;
}

.sub-stuff{
    font-weight: 400;
}

.toman{
    font-weight: 600;
    color: royalblue;
    margin-top: 12px;
    margin-bottom: 12px;
}
.high-form{
    display: flex;
    flex-direction: column;
}

.end-button{
    border: 3px solid white;
    padding-bottom: 6px;
}

.submit-now{
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 250;
    background-color: aqua;
}

.submit-now:hover{
    cursor:pointer;
}

.out{
    display: flex;
    flex-direction: column;
    border: none;
    align-items: flex-start;
}

.details{
    /* border: 1px solid black;
    border-radius: 4px; */
    margin: 8px;
    padding-left: 4px;
}

/* .right-under{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: cornsilk;
    padding: 2px;
} */

.errors{
    color: red;
}

.submit-button{
    border: 1px solid black;
    border-radius: 4px;
    background-color: aqua;
    font-weight: 600;
}

.submit-button:hover{
    cursor: pointer;
}
.create-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: orange;
    color: white;
    font-weight: 400;
    height: 50px;
    width: 400px;
    border-radius: 12px;
}

.label-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color:slategray;
    color: white;
    font-weight: 400;
    height: 25px;
    width: 300px;
    border-radius: 12px;
    padding-top: 5px;
}

.to-click{
    margin-bottom: 5px;
    margin-top: 5px;
}

.to-press{
    margin-bottom: 5px;
    margin-top: 5px;
}

/* .outer-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 12px;
} */

.whole-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.each-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
}
